# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*        # all env files (frontend/backend)
!.env.example # but keep example env files

# Logs
logs
*.log
*.out
*.pid
*.seed
*.pid.lock

# Vercel
.vercel/

# Build output
dist/
build/
.next/
out/
coverage/

# Frontend (React, Vite, Next.js)
client/node_modules/
client/dist/
client/build/

# Backend
server/node_modules/
server/dist/
server/build/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
